@import "tailwindcss";




@keyframes upDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }  /* Move up 30px */
  100% { transform: translateY(0); }
}

.upDownMotion {
  animation: upDown 3s ease-in-out infinite;
}

@keyframes bgZoomIn {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

.bgZoomIn {
  animation: bgZoomIn 5s ease-in-out forwards;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-letter-spacing {
    letter-spacing: 0.4em;
  }
