@import "tailwindcss";


@keyframes bgZoomIn {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

@keyframes strech {
  0% {
    height: 96%;
    transform: translateY(2%);
  }
  100% {
    height: 104%;
    transform: translateY(-3%);
  }
}

.strechInOut{
  animation: strech 2s ease infinite alternate;

}

.bgZoomIn {
  animation: bgZoomIn 5s ease-in-out forwards;

  background-position: center;
  background-size: cover;
}
